body {
    position: absolute;
    background-image: linear-gradient(to bottom, #00f0f8 10%, #e4e4e4 90%);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
}
/*
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 1400px;
}
*/
table {
    /*position: absolute;
    transform: translate(90%, 15%);*/
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
    margin-left: auto;
    margin-right: auto;
}

td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
    size: 40em;
    text-align: center;
}

.DiffMonth {
    color: gray;
}

img {
    width: 30px;
    height: 30px;
}